<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- <script src="./Magnus.js" defer></script> -->
    <!-- <script src="./index.js" defer></script> -->
  </head>
  <body>
    <div class="container">
      <!-- Input Template -->
      <template id="input-template">
        <div class="form-group" :class="{'has-error': hasError}">
          <label class="control-label" :for="name">{{label||name}}</label>
          <input
            :type="type"
            class="form-control"
            :id="name"
            :name="name"
            :placeholder="placeholder"
            v-model="value"
            @input="validateInput"
          />
          <small class="form-text control-label" v-if="small">{{small}}</small>
          <span class="help-block" v-if="hasError">{{errors}}</span>
        </div>
      </template>

      <form id="form" @submit.prevent="validate">
        {{canSubmit}}
        <div v-scope="Input({ name: 'metadata', label: 'Metadata'})"></div>
        <div v-scope="Input({ name: 'titulo', label: 'Titulo'})"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="./Magnus.js"></script>
    <script src="./src/petite-vue.iife.js"></script>
    <script>
      function Input({ name, label, placeholder = '', small = '', type = 'text' }) {
        const inputs = {
          metadata(e) {
            return new MagnusValidator(e).required().numeric();
          },
          titulo(e) {
            return new MagnusValidator(e).required();
          },
        };
        return {
          $template: '#input-template',
          label,
          name,
          type,
          value: '',
          placeholder,
          small,
          errors: [],
          get hasError() {
            return this.errors.length;
          },
          validateInput(e) {
            if (!inputs[name]) throw new Error(`Falta especificar la función de validación del input ${name}`);
            this.errors = inputs[name](this.value).errorList.join(' ');
          },
        };
      }

      PetiteVue.createApp({
        Input,
      }).mount();

      PetiteVue.createApp({
        canSubmit: null,
        validate(e) {
          if (this.canSubmit === null) return;
          this.canSubmit = document.querySelectorAll('#form .has-error').length === 0;
          if (this.canSubmit) {
            document.querySelector('#form').submit();
          }
        },
      }).mount('#form');
    </script>
  </body>
</html>
