<ul class="list-group mb-2">
  <li class="list-group-item list-group-item-action py-1 bg-secondary text-white">2012</li>

  <a
    href="https://www.thesitewizard.com/"
    target="_blank"
    class="list-group-item list-group-item-action py-1 d-flex"
  >
    <span class="mr-2 my-auto">
      <i class="bi bi-file-earmark-text h5"></i>
    </span>
    Dorem ipsum dolor - Dapibus ac facilisis in Lorem
    <span class="h5 ml-auto my-auto hover-info" @click.prevent="cargarTablaModal">
      <i class="bi bi-info-circle"></i>
    </span>
  </a>

  <a href="#" class="list-group-item list-group-item-action py-1 d-flex">
    <span class="mr-2 my-auto">
      <i class="bi bi-file-earmark-text h5"></i>
    </span>
    Lorem ipsum dolor - Dapibus ac facilisis in Lorem
    <span class="h5 ml-auto my-auto hover-info" @click.prevent="cargarTablaModal">
      <i class="bi bi-info-circle"></i>
    </span>
  </a>

  <a href="#" class="list-group-item list-group-item-action py-1 d-flex">
    <span class="mr-2 my-auto">
      <i class="bi bi-file-earmark-text h5"></i>
    </span>
    Lorem ipsum dolor - Dapibus ac facilisis in Lorem
    <span class="h5 ml-auto my-auto hover-info" @click.prevent="cargarTablaModal">
      <i class="bi bi-info-circle"></i>
    </span>
  </a>
</ul>

<ul class="list-group mb-2">
  <li class="list-group-item list-group-item-action py-1 bg-secondary text-white">2014</li>

  <a href="#" class="list-group-item list-group-item-action py-1 d-flex">
    <span class="mr-2 my-auto">
      <i class="bi bi-file-earmark-text h5"></i>
    </span>
    Lorem ipsum dolor - Dapibus ac facilisis in Lorem
    <span class="h5 ml-auto my-auto hover-info" @click.prevent="cargarTablaModal">
      <i class="bi bi-info-circle"></i>
    </span>
  </a>

  <a href="#" class="list-group-item list-group-item-action py-1 d-flex">
    <span class="mr-2 my-auto">
      <i class="bi bi-file-earmark-text h5"></i>
    </span>
    Lorem ipsum dolor - Dapibus ac facilisis in Lorem
    <span class="h5 ml-auto my-auto hover-info" @click.prevent="cargarTablaModal">
      <i class="bi bi-info-circle"></i>
    </span>
  </a>

  <a href="#" class="list-group-item list-group-item-action py-1 d-flex">
    <span class="mr-2 my-auto">
      <i class="bi bi-file-earmark-text h5"></i>
    </span>
    Lorem ipsum dolor - Dapibus ac facilisis in Lorem
    <span class="h5 ml-auto my-auto hover-info" @click.prevent="cargarTablaModal">
      <i class="bi bi-info-circle"></i>
    </span>
  </a>
</ul>
